<div class="width-100">
        <h2>Autoregressive Integrated Moving Average Model</h2>
        <p>An <a href="https://en.wikipedia.org/wiki/Autoregressive_integrated_moving_average">ARIMA model</a> is a class of statistical models for analyzing and forecasting time series data.</p>
        <p>It explicitly caters to a suite of standard structures in time series data, and as such provides a simple yet powerful method for making skillful time series forecasts.</p>
        <p>ARIMA is an acronym that stands for AutoRegressive Integrated Moving Average. It is a generalization of the simpler AutoRegressive Moving Average and adds the notion of integration.</p>
        <p>This acronym is descriptive, capturing the key aspects of the model itself. Briefly, they are:</p>
        <ul>
                <li><strong>AR</strong>: <em>Autoregression</em>. A model that uses the dependent relationship between an observation and some number of lagged observations.</li>
                <li><strong>I</strong>: <em>Integrated</em>. The use of differencing of raw observations (e.g. subtracting an observation from an observation at the previous time step) in order to make the time series stationary.</li>
                <li><strong>MA</strong>: <em>Moving Average</em>. A model that uses the dependency between an observation and a residual error from a moving average model applied to lagged observations.</li>
        </ul>
        <p>Each of these components are explicitly specified in the model as a parameter. A standard notation is used of ARIMA(p,d,q) where the parameters are substituted with integer values to quickly indicate the specific ARIMA model being used.</p>

        <p>The parameters of the ARIMA model are defined as follows:</p>
        <ul>
                <li><strong>p</strong>: The number of lag observations included in the model, also called the lag order.</li>
                <li><strong>d</strong>: The number of times that the raw observations are differenced, also called the degree of differencing.</li>
                <li><strong>q</strong>: The size of the moving average window, also called the order of moving average.</li>
        </ul>
        <p>A linear regression model is constructed including the specified number and type of terms, and the data is prepared by a degree of differencing in order to make it stationary, i.e. to remove trend and seasonal structures that negatively affect the regression model.</p>
        <p>A value of 0 can be used for a parameter, which indicates to not use that element of the model. This way, the ARIMA model can be configured to perform the function of an ARMA model, and even a simple AR, I, or MA model.</p>
        <p>Adopting an ARIMA model for a time series assumes that the underlying process that generated the observations is an ARIMA process. This may seem obvious, but helps to motivate the need to confirm the assumptions of the&nbsp;model in the raw observations and in the residual errors of forecasts from the model.</p>
        <p>Let's take a look at how we can use the <a routerLink="/upload">ARIMA model demo.</a> </p>
</div>